:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
   font-size: 16px;
}

html, body, #root {
  margin: 0;
  
  background-color: rgb(241, 241, 240);
}

#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
  padding: 0;
}